body{
	font-family: 'Merriweather', serif;
	font-family: 'Roboto', sans-serif;

	margin: 0;
	padding: 0;
}

.wrap{
	margin: 0 auto;
	width: 50vw;
}

.active{
	background-color: #333333;
	color: #fff;
}

.mistake{
	background-color: #B70B0B;
	color: #fff;
}